html{

	background-color: #780000;
	width: 80%;
	margin: 40px auto;
	text-align: justify;
	color: #cccccc;
	padding: 40px;
	border: solid 2px #000099;
	}

body {
font-family: 'Miss Fajardose', cursive;
font-family: 'Fjalla One', sans-serif;
font-family: 'Quantico', sans-serif;
margin-bottom: 120px;
}

a {
	font-family: Verdana; sans-serif;
	font-weight: bold;
	text-decoration: none;
	}
a:link {
	color: 000033;
	}
a:visited {
	color: 996666;
	}
p {
	line-height: 1.5em;
	}
	
	.container {
  position: relative;
}
#nav {
  display: block;
  font-weight: bold;
  padding: 3px 0px 3px 3px;
  border: solid 2px #000000;
  background-color: #000066;
  color: #000000;
  float:left;
  margin-top:12px;
  margin-right:18px;
  left: 0px;
  width: 200px;
}
section {
  /* position is static by default */
  margin-left: 200px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
}

img {
  float: right;
  margin: 0 0 1em 1em;
}