html{

	background-color: #780000;
	
	}

h1 {
	
	padding: 10px;
	font-size: 30pt;
	text-align: center;
	}
body {

background-color: white;
	opacity: 0.97;  
	width:85%; 
	margin: 5% auto;
	text-align: justify;
	padding:25px 25px 25px 25px;
	max-width: 1000px;
font-family: 'Quantico', sans-serif;
margin-bottom: 120px;
box-shadow:0 0 40px rgba(0,0,0,0.75);
}

blockquote {
	 
	font-weight: bold; 
	font-style: italic;
}

blockquote cite {
	font-size: 90%;
	color: #999999;
}
a {
	font-family: Verdana; sans-serif;
	font-weight: bold;
	text-decoration: none;
	color: #000033;
	}

a:link {
}
a:visited {
	color: #FF0000;
	}
a:hover {
}
a:active {
}

p {
	line-height: 1.5em;
	}
	
	.container {
  position: relative;
}
#nav {
  display: block;
  font-weight: bold;
  padding: 3px 0px 3px 3px;
  border: solid 2px #000000;
  background-color: #000066;
  float:left;
  text-align: center;
  margin-top:12px;
  margin-right:18px;
  left: 0px;
  width: 200px;
}
#nav li {
	display: inline;
	padding: 0 10px; 
	}
	
#nav-history {
	float: left;
	width: 25%;
	}
	
#content {
	float: right;
	width: 70%;
	}
	
section {
  /* position is static by default */
  margin-left: 200px;
}
#footer {
  text-align: center;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: #000066;
  color: #cccccc;
  width: 100%;
}

img {
  float: right;
  margin: 0 0 1em 1em;
}

/*
 * Default styles
 */

/*
 * 300px and wider
 */
@media screen and (max-width: 400px) {
	
	#sidebar,
 	#content,
 	#header,
 	#nav, 
	{
   		float:none;
   		width:auto;
   		display:block;
 }

	h1 { 
		font-size: 25pt; 
		}

	#sidebar{ 
		float: center; 
		}
	
	blockquote {  
		margin: 0px; 
		font-size: 14pt; 
		float: center; 
		text-align: left;
		}
	
	
}


/*
 * 600px and wider
 */
@media screen and (max-width: 550px) {

	
	#sidebar,
 	#content,
 	#header,
 	#nav {
   		float:none;
   		width:auto;
   		display:block;
 }

	h1 { 
		font-size: 25pt; 
		}

	#sidebar{ 
		float: center; 
		}
	
	blockquote {  
		margin: 0px; 
		font-size: 14pt; 
		float: center; 
		text-align: center;
		}

	
	
} 


/*
 * 
 */
@media screen and (max-width: 800px) {

	#sidebar,
 	#content,
 	#header,
 	#nav {
   		float:none;
   		width:auto;
   		display:block;
 }

	#logo { 
		float: left; 
		}
	h1{ 
		font-size: 25pt; 
		}

	#sidebar{ 
		float: center; 
		}
} 


/*
 * 
 */
@media screen and (max-width: 1300px) {

	#sidebar, 
	#content, 
	#nav {
		width: auto;  
		float: none; 
		display: block; 
		margin: 10px; 
		}

	#header { 
		width: 75%; 
		}


	#nav a { 
		font-size: 15pt; 
		text-align: left; 
		}

} 